# .env — DO NOT commit this file to GitHub
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vietdist_dw
DB_USER=postgres
DB_PASSWORD=your_password_here

# Google Service Account JSON path
GOOGLE_SERVICE_ACCOUNT_JSON=./credentials/gdrive_service_account.json
GDRIVE_FOLDER_ID_SALES_TRANSACTIONS=
GDRIVE_FOLDER_ID_CUSTOMER_MASTER=
GDRIVE_FOLDER_ID_DISTRIBUTOR_ORDERS=
GDRIVE_FOLDER_ID_DISTRIBUTOR_MASTER=
GDRIVE_FOLDER_ID_RETURN_TRANSACTIONS=

# Microsoft (OneDrive) App credentials
AZURE_CLIENT_ID=your_client_id
AZURE_TENANT_ID=your_tenant_id
AZURE_CLIENT_SECRET=your_client_secret
ONEDRIVE_FOLDER_SALES_TARGET_PLAN=
ONEDRIVE_FOLDER_PRODUCT_MASTER=
ONEDRIVE_FOLDER_EMPLOYEE_MASTER=
ONEDRIVE_FOLDER_TERRITORY_MAPPING=
ONEDRIVE_FOLDER_PROMOTION_PROGRAM=
